/*-Reset styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */

  /* Primary */
  --color-primary-dark-blue-intro: hsl(217, 28%, 15%);
  --color-primary-dark-blue-main: hsl(218, 28%, 13%);
  --color-primary-dark-blue-footer: hsl(216, 53%, 9%);
  --color-primary-dark-blue-testimonials: hsl(219, 30%, 18%);

  /* Accent */
  --color-accent-cyan: hsl(187, 61%, 72%);
  --color-accent-blue: hsl(194, 60%, 53%);
  --color-accent-light-red: hsl(0, 100%, 63%); /* Error */

  /* Neutral */
  --color-neutral-white: hsl(0, 0%, 100%);

  /* Typography */

  /* Headings, Call-to-actions, Header Navigation */
  --font-family-headings: "Raleway", sans-serif;
  --font-weight-headings-regular: 400;
  --font-weight-headings-bold: 700;

  /* Body */
  --font-family-body: "Open Sans", sans-serif;
  --font-weight-body-regular: 400;
  --font-weight-body-bold: 700;

  --font-size-body: 14px; /* Base body copy font size */
}

body {
  background-color: var(--color-primary-dark-blue-intro);
  color: var(--color-neutral-white);
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body-regular);
}

/*-Header & Navbar styles-*/

header {
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
  padding: 1.5rem 1.5rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav img {
  width: 75px;
  height: 25px;
}

nav ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}

nav ul li {
  font-size: 14px;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
}

nav ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 700;
}

nav ul li:active {
  font-weight: 800;
  color: hsla(0, 0%, 100%, 0.767);
}

/*----*/

/*--Main Styles--*/

main {
  width: 100vw;
  min-height: 100vh;
}

/*Intro Illustration*/
.illustration-intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  margin: 20px 0;
}
.illustration-intro-container img {
  width: 90%;
  height: 380px;
}
/*----*/

/*Get Started Section*/

.get-started-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  text-align: center;
  position: relative;
  background: linear-gradient(
    to top,
    var(--color-primary-dark-blue-main) 75%,
    transparent 50%
  );
}
.get-started-container h1 {
  font-family: var(--font-family-headings);
  font-weight: var(--font-weight-headings-bold);
}

.get-started-container p {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body-regular);
}

.get-started-container button {
  background-color: var(--color-accent-blue);
  color: var(--color-neutral-white);
  font-family: var(--font-family-body);
  width: 250px;
  height: 50px;
  border-radius: 50px;
  border: none;
  font-weight: var(--font-weight-body-bold);
  transition: transform 0.2s ease-in-out;
}

.get-started-container button:hover {
  cursor: pointer;
  background-color: var(--color-accent-cyan);
}
.get-started-container button:active {
  transform: scale(0.95);
}
.curvy-background {
  width: 100vw;
  height: 200px;
  z-index: -1;
  position: absolute;
  top: -70px;
}

/*Features Style*/
.features-container {
  background-color: var(--color-primary-dark-blue-main);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-card {
  min-height: 300px;
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 0px 10px;
  margin: 20px 0;
}

.features-card img {
  width: 80px;
}

/*detail container*/

.detail-container {
  background-color: var(--color-primary-dark-blue-main);
  min-height: 600px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.detai-illustration {
  width: 90%;
  height: 280px;
  margin-bottom: 20px;
}

.detail-card {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.detail-card h1 {
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

.detail-card p {
  margin-bottom: 20px;
}

.detail-link {
  color: var(--color-accent-cyan);
  text-decoration: underline;
  text-underline-offset: 10px;
}
.detail-link:hover {
  cursor: pointer;
  color: var(var(--color-neutral-white));
}

.a-image {
  position: relative;
  top: 4px;
}
/*---*/

/*Testimony Style*/

.testimony-container {
  background-color: var(--color-primary-dark-blue-main);
  min-height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testominy-quote {
  width: 40px;
  height: 30px;
  position: relative;
  left: -120px;
}

.testimony-card {
  width: 85%;
  height: 200px;
  background-color: var(--color-primary-dark-blue-testimonials);
  border-radius: 10px;
  margin-bottom: 40px;
  padding: 20px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.testimony-profile {
  display: flex;
  align-items: center;
}

.testimony-profile img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.testimony-name {
  font-weight: bold;
}
.testimony-title {
  font-weight: 200;
}

/**/

/*----media queries----*/

/*375*/

/*@media (min-width: 375px) and (max-width: 424px) {
}*/

/*425*/

@media (min-width: 425px) and (max-width: 767px) {
  /*Features styles*/

  .features-container {
    align-items: center;
  }

  .features-card {
    padding: 0 25px;
  }

  /*Detail container style*/
  .detail-card {
    padding: 20px;
  }
  /*Testimony Style*/
  .testominy-quote {
    width: 40px;
    height: 30px;
    position: relative;
    left: -150px;
  }
}

/*768*/

@media (min-width: 768px) and (max-width: 1023px) {
  /*Header*/
  header {
    height: 15vh;
    padding: 0 3rem;
  }

  nav img {
    width: 100px;
    height: 40px;
  }

  .illustration-intro-container img {
    width: 80%;
    height: 400px;
  }

  /*Intro Illustration*/

  .illustration-intro-container img {
    width: 400px;
    height: 400px;
  }

  /*Get started container*/

  .get-started-container {
    background: none;
    padding: 0 140px;
  }

  .get-started-container h1 {
    font-size: 26px;
  }

  .get-started-container p {
    font-size: 18px;
  }

  .get-started-container button {
    font-size: 16;
  }
  .curvy-background {
    width: 99vw;
    height: 380px;
    z-index: -1;
    position: absolute;
    top: 120px;
  }

  /*Features Style*/
  .features-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .features-card {
    width: 250px;
    margin: 20px 40px;

    padding: 0px 0px;
  }
  /*Detail container*/

  /*Detail container style*/
  .detail-card {
    padding: 120px;
  }

  .detail-card h1 {
    font-size: 28px;
  }

  .detail-card p {
    font-size: 18px;
  }

  /*Testimony Style*/
  .testominy-quote {
    width: 40px;
    height: 30px;
    position: relative;
    left: -150px;
  }

  .testimony-card {
    width: 360px;
  }
}
/*1024*/

@media (min-width: 1024px) and (max-width: 1439px) {
  /*Header*/

  header {
    height: 15vh;
    padding: 0 3rem;
  }

  nav img {
    width: 140px;
    height: 40px;
  }

  /*Intro Illustration*/

  .illustration-intro-container img {
    width: 500px;
    height: 400px;
  }

  /*Get started container*/

  .get-started-container {
    background: none;
    padding: 0 140px;
    justify-content: space-evenly;
    text-align: center;
  }

  .get-started-container h1 {
    font-size: 28px;
    padding: 0 70px;
  }

  .get-started-container p {
    font-size: 20px;
    padding: 0 60px;
  }

  .get-started-container button {
    font-size: 16;
  }
  .curvy-background {
    width: 99vw;
    height: 380px;
    z-index: -1;
    position: absolute;
    top: 120px;
  }

  .get-started-container button {
    height: 60px;
    position: relative;
    top: -40px;
  }

  /*Features Style*/
  .features-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .features-card {
    width: 300px;
    margin: 20px 40px;

    padding: 0px 0px;
  }

  /*Detail container style*/

  .detail-container {
    flex-direction: row;
  }
  .detai-illustration {
    width: 500px;
    height: 400px;
  }
  .detail-card {
    padding: 50px;
  }

  .detail-card h1 {
    font-size: 28px;
    text-align: left;
    padding: 0 20px;
  }

  .detail-card p {
    font-size: 18px;
  }

  /*Testimony Style*/

  .testimony-container {
    flex-direction: row;
    justify-content: flex-start;
  }
  .testominy-quote {
    width: 50px;
    height: 50px;
    position: relative;
    top: -130px;
    left: 40px;
    z-index: 0;
  }

  .testimony-card {
    width: 300px;
    margin-right: 20px;
    z-index: 1;
  }

  .testimony-profile img {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .testimony-name {
    font-weight: bold;
    font-size: 12px;
  }
  .testimony-title {
    font-weight: 200;
    font-size: 10px;
  }
}

/*1440*/
@media (min-width: 1440px) and (max-width: 1739px) {
  /*Header*/

  header {
    height: 15vh;
    padding: 0 3rem;
  }

  nav img {
    width: 140px;
    height: 50px;
  }

  /*Intro Illustration*/

  .illustration-intro-container img {
    width: 700px;
    height: 400px;
  }

  /*Get started container*/

  .get-started-container {
    background: none;
    padding: 0 140px;
    justify-content: space-evenly;
    text-align: center;
  }

  .get-started-container h1 {
    font-size: 28px;
    padding: 0 300px;
  }

  .get-started-container p {
    font-size: 20px;
    padding: 0 280px;
  }

  .get-started-container button {
    font-size: 16;
  }
  .curvy-background {
    width: 99vw;
    height: 380px;
    z-index: -1;
    position: absolute;
    top: 120px;
  }

  .get-started-container button {
    height: 60px;
    position: relative;
    top: -40px;
  }

  /*Features Style*/
  .features-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .features-card {
    width: 500px;
    margin: 20px 40px;

    padding: 0px 50px;
  }

  /*Detail container style*/

  .detail-container {
    flex-direction: row;
  }
  .detai-illustration {
    width: 500px;
    height: 400px;
  }
  .detail-card {
    padding: 0 40px;
    width: 500px;
  }

  .detail-card h1 {
    font-size: 28px;
    text-align: left;
    padding-right: 60px;
  }

  .detail-card p {
    font-size: 18px;
  }

  /*Testimony Style*/

  .testimony-container {
    flex-direction: row;
    justify-content: center;
  }
  .testominy-quote {
    width: 50px;
    height: 50px;
    position: relative;
    top: -130px;
    left: 40px;
    z-index: 0;
  }

  .testimony-card {
    width: 360px;
    padding: 40px 20px 20px 20px;
    margin-right: 20px;
    z-index: 1;
    justify-content: space-between;
  }

  .testimony-profile {
  }

  .testimony-profile img {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .testimony-profile {
    display: flex;
    align-items: center;
  }

  .testimony-name {
    font-weight: bold;
    font-size: 14px;
  }
  .testimony-title {
    font-weight: 200;
    font-size: 12px;
  }

  .testimony-description {
    font-size: 16px;
  }
}

/*1740*/
@media (min-width: 1740px) {
  /*Header*/
  header {
    height: 150px;
  }

  header nav {
    padding: 0 40px;
  }
  nav img {
    width: 140px;
    height: 50px;
  }
  /*Intro Illustration*/

  .illustration-intro-container img {
    width: 700px;
    height: 400px;
  }

  /*Get started Style*/

  .get-started-container {
    background: none;
  }
  .get-started-container h1 {
    font-size: 30px;
    padding: 0 650px;
  }

  .get-started-container p {
    font-size: 24;
    padding: 0 700px;
  }

  .curvy-background {
    width: 100vw;
    height: 380px;
    z-index: -1;
    position: absolute;
    top: 130px;
  }

  /*Features Style*/

  .features-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .features-card {
    width: 600px;
    margin: 20px 40px;

    padding: 0px 80px;
  }

  /*Detail container style*/

  .detail-container {
    flex-direction: row;
    width: 100vw;
  }
  .detai-illustration {
    width: 600px;
    height: 450px;
    margin-right: 40px;
  }
  .detail-card {
    padding: 0 40px;
    width: 600px;
  }

  .detail-card h1 {
    font-size: 36px;
    text-align: left;
    padding-right: 60px;
  }

  .detail-card p {
    font-size: 18px;
  }

  /*Testimony Style*/

  .testimony-container {
    flex-direction: row;
    justify-content: center;
  }
  .testominy-quote {
    width: 50px;
    height: 50px;
    position: relative;
    top: -130px;
    left: 40px;
    z-index: 0;
  }

  .testimony-card {
    width: 400px;
    height: 210px;
    padding: 40px 20px 20px 20px;
    margin-right: 50px;
    z-index: 1;
    justify-content: space-between;
  }

  .testimony-profile {
  }

  .testimony-profile img {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .testimony-profile {
    display: flex;
    align-items: center;
  }

  .testimony-name {
    font-weight: bold;
    font-size: 14px;
  }
  .testimony-title {
    font-weight: 200;
    font-size: 12px;
  }

  .testimony-description {
    font-size: 16px;
  }
}
/**/
