/*-Reset styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */

  /* Primary */
  --color-primary-dark-blue-intro: hsl(217, 28%, 15%);
  --color-primary-dark-blue-main: hsl(218, 28%, 13%);
  --color-primary-dark-blue-footer: hsl(216, 53%, 9%);
  --color-primary-dark-blue-testimonials: hsl(219, 30%, 18%);

  /* Accent */
  --color-accent-cyan: hsl(176, 68%, 64%);
  --color-accent-blue: hsl(198, 60%, 50%);
  --color-accent-light-red: hsl(0, 100%, 63%); /* Error */

  /* Neutral */
  --color-neutral-white: hsl(0, 0%, 100%);

  /* Typography */

  /* Headings, Call-to-actions, Header Navigation */
  --font-family-headings: "Raleway", sans-serif;
  --font-weight-headings-regular: 400;
  --font-weight-headings-bold: 700;

  /* Body */
  --font-family-body: "Open Sans", sans-serif;
  --font-weight-body-regular: 400;
  --font-weight-body-bold: 700;

  --font-size-body: 14px; /* Base body copy font size */
}

body {
  background-color: var(--color-primary-dark-blue-intro);
  color: var(--color-neutral-white);
  width: 375px;
  height: 820px;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body-regular);
}

/*-Header & Navbar styles-*/

header {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  border: 1px dotted red;
}

/*----*/

/*----media queries----*/

/*375*/

/*@media (min-width: 375px) and (max-width: 424px) {
}*/

/*



header {
  display: flex;
  width: 1000%;
  height: 20%;
  border: 1px dotted red;
  align-items: center;
  padding: 1.5rem 2rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

nav img {
  width: 60px;
  height: 35px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  font-size: 12px;
  margin-right: 1rem;
}

nav ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 700;
}


*/
