/*-Reset styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */

  /* Primary */
  --color-primary-dark-blue-intro: hsl(217, 28%, 15%);
  --color-primary-dark-blue-main: hsl(218, 28%, 13%);
  --color-primary-dark-blue-footer: hsl(216, 53%, 9%);
  --color-primary-dark-blue-testimonials: hsl(219, 30%, 18%);

  /* Accent */
  --color-accent-cyan: hsl(176, 68%, 64%);
  --color-accent-blue: hsl(198, 60%, 50%);
  --color-accent-light-red: hsl(0, 100%, 63%); /* Error */

  /* Neutral */
  --color-neutral-white: hsl(0, 0%, 100%);

  /* Typography */

  /* Headings, Call-to-actions, Header Navigation */
  --font-family-headings: "Raleway", sans-serif;
  --font-weight-headings-regular: 400;
  --font-weight-headings-bold: 700;

  /* Body */
  --font-family-body: "Open Sans", sans-serif;
  --font-weight-body-regular: 400;
  --font-weight-body-bold: 700;

  --font-size-body: 14px; /* Base body copy font size */
}

body {
  background-color: var(--color-primary-dark-blue-intro);
  color: var(--color-neutral-white);
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body-regular);
}

/*-Header & Navbar styles-*/

header {
  display: flex;
  width: 100%;
  height: 20%;
  border: 1px dotted red;
  align-items: center;
  padding: 1.5rem 1.5rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
nav img {
  width: 75px;
  height: 25px;
}

nav ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}

nav ul li {
  font-size: 14px;
  margin-right: 1rem;
  transition: all 0.3s ease-in-out;
}

nav ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 700;
}

nav ul li:active {
  font-weight: 800;
  color: hsla(0, 0%, 100%, 0.767);
}

/*----*/

/*----media queries----*/

/*375*/

/*@media (min-width: 375px) and (max-width: 424px) {
}*/

/*425*/

@media (min-width: 425px) and (max-width: 767px) {
}

/*768*/

@media (min-width: 768px) and (max-width: 1023px) {
  header {
    height: 15vh;
  }

  nav img {
    width: 100px;
    height: 40px;
  }
}
/*1024*/

@media (min-width: 1024px) and (max-width: 1439px) {
  header {
    height: 15vh;
  }

  nav img {
    width: 140px;
    height: 40px;
  }
}

/*1440*/
@media (min-width: 1440px) {
  header {
    height: 15vh;
  }

  nav img {
    width: 140px;
    height: 50px;
  }
}

/**/
